@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('//fonts.googleapis.com/earlyaccess/hanna.css');

body {
    margin: 0;
    font-family: 'Hanna', serif;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
